@-webkit-keyframes circley {
	0% {
		stroke-dashoffset: 0;
		stroke-dasharray: 0 314.159;
	}

	8.3% {
		stroke-dashoffset: 0;
		stroke-dasharray: 261.79 52.35;
	}

	16.6% {
		stroke-dashoffset: -261.79;
		stroke-dasharray: 0 314.159;
	}

	25% {
		stroke-dashoffset: -261.79;
		stroke-dasharray: 261.79 52.35;
	}

	33.3% {
		stroke-dashoffset: -523.58;
		stroke-dasharray: 0 314.159;
	}

	41.6% {
		stroke-dashoffset: -523.58;
		stroke-dasharray: 261.79 52.35;
	}

	50% {
		stroke-dashoffset: -785.37;
		stroke-dasharray: 0 314.159;
	}

	58.3% {
		stroke-dashoffset: -785.37;
		stroke-dasharray: 261.79 52.35;
	}

	66.6% {
		stroke-dashoffset: -1047.16;
		stroke-dasharray: 0 314.159;
	}

	75% {
		stroke-dashoffset: -1047.16;
		stroke-dasharray: 261.79 52.35;
	}

	83.3% {
		stroke-dashoffset: -1308.95;
		stroke-dasharray: 0 314.159;
	}

	91.6% {
		stroke-dashoffset: -1308.95;
		stroke-dasharray: 261.79 52.35;
	}

	100% {
		stroke-dashoffset: -1570.74;
		stroke-dasharray: 0 314.159;
	}
}

@-webkit-keyframes rotaty {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes colored {
	0% {
		stroke: #9e4a90;
	}

	/* Blue */
	2% {
		stroke: #e51c23;
	}

	23% {
		stroke: #e51c23;
	}

	/* Yellow/Orange */
	27% {
		stroke: #ffc107;
	}

	48% {
		stroke: #ffc107;
	}

	/* Green */
	52% {
		stroke: #259b24;
	}

	73% {
		stroke: #259b24;
	}

	77% {
		stroke: #5677fc;
	}

	/* Red */
	98% {
		stroke: #5677fc;
	}

	100% {
		stroke: #9e4a90;
	}
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

.contents {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

svg#main circle {
	fill: none;

	stroke: #5677fc;
	stroke-linecap: round;
	stroke-width: 18;

	-webkit-animation: circley 8s ease infinite, rotaty 2.2s linear infinite;
	transform-origin: center center;
}

svg#main circle.colored {
	-webkit-animation: circley 8s ease infinite, rotaty 2.2s linear infinite, colored 5.3333s ease infinite;
}

svg#main circle.colored.slow-as-fuck {
	-webkit-animation: circley 216s ease infinite, rotaty 59.4s linear infinite, colored 144s ease infinite;
}